<div class="dropdown dropdown-styled" style="display: inline-block; margin-left: 20px;">
<button class="btn" type="button" data-toggle="dropdown" aria-expanded="true" id="history_selected" data-id="-1">
  Full History <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" id="history_list">
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-id="-1">Full History</a></li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-id="3">Last 3 months</a></li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-id="6">Last 6 months</a></li>
  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-id="12">Last year</a></li>
</ul>
</div>