<div class="no-content" style="display: none; margin-top:100px">
  <p class='help-text'>No data to show...</p>

  <div style="margin-top:10px; text-align: center;"><%= image_tag("no_data_icon.PNG", style: "width:40px;") %></div>
</div>