<div class='pull-right' style="margin-top: 10px; margin-right: 10px;">
  <div class="chart-legend inline-block">
    <div class="circle inline-block" style="background: #e52909; width: 12px; height: 12px;">
    </div>
    <div class="legend-label inline-block">
      <p>High</p>
    </div>
  </div>

  <div class="chart-legend inline-block push-right-small">
    <div class="circle inline-block" style="background: #ef891b; width: 12px; height: 12px;">
    </div>
    <div class="legend-label inline-block" style="margin-left: 5px;">
      <p>Moderate</p>
    </div>
  </div>

  <div class="chart-legend inline-block push-right-small">
    <div class="circle inline-block" style="background: #f7e625; width: 12px; height: 12px;">
    </div>
    <div class="legend-label inline-block" style="margin-left: 5px;">
      <p>Low</p>
    </div>
  </div>
</div>