@media (max-width: 1024px) {
  .solutions-image {
    width: 200px;
    float: left;
    display: inline-block;
  }

  .solutions-desc {
    text-align: left;
    margin-top: 30px;
    margin-left: 200px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .solutions-image {
    width: 50%;
    display: block;
    margin: 0 auto;
    float: none;
  }

  .solutions-desc {
    margin-left: 0px;
    text-align: center;
  }
}