<% provide(:title, 'About') %>


<div>

  <div class="section-header">
    <h1>About Corva</h1>
  </div>

  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva’s vision is to lead a renaissance in oil drilling with the smart use of real-time predictive drilling analytics. Improved knowledge and efficiencies will cause ripple effects through the supply chain and impact all aspects of the drilling life cycle.
      Corva will drive mobility and empower the entire workforce to make great decisions at all times.

    </div>
  </div>


  <div style="color: #c8e6d1; font-size: 24px; margin-top: 50px; width: 100%;">

    <p style="color: #d8e476; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      We want to Make a difference
    </p>

    <div style="text-align: center; margin-top: 20px;">
      Founded by leading technologists with a diverse background in delivering innovation,
      we strive to deliver valuable and salient solutions to the oil drilling industry.
      While other industries have excelled in harnessing new methodologies around data analysis and prediction,
      our founding team set out to deliver equal ground-breaking techniques for optimization in drilling.
      We assembled a team of leading petroleum scientists and the best software engineers in the world to tackle this goal.
    </div>

    <div class="center">
    <%= image_tag "qualities.png", style: "margin-top: 40px;" %>
    </div>

    <div style="text-align: center; margin-top: 10px;">
      We are rooted in qualities that make us special.
    </div>





    <p style="color: #d8e476; margin-top: 70px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      We are the future
    </p>

    <div style="text-align: center; margin-top: 30px;">
      The need for more and improved predictive drilling analytics has driven the development of Corva – a platform offering a wide array of real-time knowledge and information solutions. Corva is the first of its kind in a competitive bid to build real-time drilling simulation software, which can accurately and reliably predict current and future conditions. Wells can be delivered at lower cost and time by avoiding equipment misuse, failure, and malfunction. Whereas this strategy has been the cornerstone of the largest oil companies, no technology company has achieved a stable, marketable product – creating the inherent extraordinary value in Corva.
    </div>

    <div class="center">
      <%= image_tag "driving_value.png", style: "margin-top: 20px;" %>
    </div>

    <div style="text-align: center; margin-top: 30px;">
      In a race to drive lower costs and optimization, we are uniquely positioned for advantageous growth as
      we quickly innovate and solve decade-old problems. While we think tirelessly about current problems plaguing
      the industry, our eye is on the future. We see a connected vision of suppliers, producers, and service professionals around the same set
      of information and knowledge. We believe in this potential.
    </div>


  </div>

  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>
</div>
