<% provide(:title, 'RigOS & Developers') %>


<div style="margin-top: 100px;">

  <div class="center">
    <h1 style="font-size: 58px; font-family: orgonboldregular; color: #FFFFFF;">Introducing RigOS</h1>

    <h3 style="font-size: 18px; font-family: orgonboldregular; color: #58cac3;">The world’s first development platform
      for oil rigs</h3>
  </div>


  <div class="center" style="font-size: 18px; margin-top: 60px; color: #f1f1f1; font-family: orgonlightregular;">
    <p class="center" style="font-size: 18px; font-family: orgonlightregular;">RigOS brings the power, performance, and
      scalability of the most advanced rig platform to the masses. Developers,
      scientists, and tinkerers can now build ground-breaking apps for drilling rigs in minutes.</p>

    <p class="center" style="margin-top: 20px; font-size: 18px; font-family: orgonlightregular;">Simply build, test, and
      deploy. No worrying about data quality, performance, real-time scalability, data
      pipelines, and mismatched/incomplete data.</p>
  </div>

  <div style="margin-top: 100px;">
    <%= image_tag "build_test_share.png" %>
  </div>


  <div style="margin-top: 80px; background-color: #202b2b; position: absolute; width: 100%; left: 0; ">

    <div style="max-width: 1024px; margin-left: auto; margin-right: auto;">

      <h3 style="margin-top: 100px; font-size: 30px; font-family: orgonboldregular; color: #FFFFFF; text-align: center; max-width: 800px; margin-left: auto; margin-right: auto;">
        Build apps for realtime models, analytics, data quality,
        hardware controllers and more</h3>

      <p class="center" style="margin-top: 40px; font-size: 18px; font-family: orgonlightregular; color: #FFFFFF;">
        Write once and run on every rig and device, including mobile.
      </p>

      <div style="margin-top: 100px; text-align: center;">
        <%= image_tag "developer_devices.png" %>
      </div>
      <div style="margin-top: 50px; text-align: center;">
        <%= image_tag "developer_steps.png" %>
      </div>


      <hr style="margin-top: 50px; margin-bottom: 50px;">

      <p class="center" style="margin-top: 40px; font-size: 18px; font-family: orgonlightregular; color: #FFFFFF;">
        RigOS is in closed beta now, but coming very soon. Get in touch...
      </p>

      <div class="center" style="margin-top: 30px; font-size: 18px; font-family: orgonlightregular; color: #FFFFFF; text-decoration: underline;">

        <script type="text/javascript" language="javascript">
            { coded = "MEkExJHELP@CJLkA.A6"
                key = "xEAGJtpks85WZgFY0SVQdrN41HKPXiRbhUnf2cyML97leauo6BvDIjOmCzT3wq"
                shift=coded.length
                link=""
                for (i=0; i<coded.length; i++) {
                    if (key.indexOf(coded.charAt(i))==-1) {
                        ltr = coded.charAt(i)
                        link += (ltr)
                    }
                    else {
                        ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                        link += (key.charAt(ltr))
                    }
                }
                document.write("<a href='mailto:"+link+"'>developers@corva.ai</a>")
            }
            //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>


      </div>


      <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
        &copy; 2015 CORVA AI
      </div>
    </div>
  </div>
</div>
