<head>
  <title>Corva</title>
  <meta charset="UTF-8">
  <meta name="description" content="Corva | Drilling Intelligence">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon" href="/assets/corva-icon-mobile.png">

  <% if signed_in? %>
      <link rel="stylesheet" type="text/css" href="/assets/addtohomescreen.css">
      <script src="/assets/addtohomescreen.min.js"></script>

      <script>
          addToHomescreen({
              startDelay: 1,
              maxDisplayCount: 1
          });
      </script>
  <% end %>

  <%= render 'stylesheets' %>

  <%= render 'javascripts' %>

  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css">
  <![endif]-->
</head>