<div id="overview_jobs" data-loaded='true' class='' xmlns="http://www.w3.org/1999/html">

  <% if jobs_array.count > 0 %>
    <div class='wells-overview overview-list'>
      <% jobs_array.each do |job| %>
        <%= render 'overview/job_list', job: job %>
      <% end %>
    </div>

    <div class='wells-overview overview-grid'>
      <% jobs_array.each do |job| %>
        <%= render 'overview/job_grid', job: job %>
      <% end %>
    </div>
  <% else %>
    <div class="no-rigs">
      <div>No active rigs...</div>
      <div><%= link_to "View all rigs", wells_path(anchor: "rigs") %></div>
      <div><%= link_to "View all wells", wells_path %></div>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  (function ($) {
    $(document).ready(function () {

      // tooltip
      $('.powertip-overiew').powerTip({
        followMouse: true,
        fadeInTime: 100,
        fadeOutTime: 0
      });
      $('.powertip-overiew').on({
        powerTipPreRender: function () {
          var percent = $(this).attr('data-percent');
          var activity = $(this).attr('data-activity');
          $(this).data('powertip', '<div style="padding: 5px 10px; background-color: #333;"><p>' + activity + '</p><p><span>' + percent + '%</span></p></div>');
        }
      });
    });
  }(jQuery));

</script>