<div class="remote-tray" data-tray="rig_overview_motor">

  <div class='tray-content content-loaded' style="position: relative;">

    <div class="mdv-spinner" id="dv_motor_spinner">

      <%= render 'jobs/inline_spinner' %>

    </div>

    <div class="dv-sub-container" style="display: none;">

      <div class="drill-view-chart">
        <div id="dv_motor_warning_box_chart" class="mdv-chart-warning"></div>
        <div style="position: relative; height: 100%;">
          <div class="depth-row-container">
            <div class="depth-row-bg"></div>
            <div class="depth-row">
            </div>
          </div>
          <div class="label-top">Stall</div>
          <div id="chart_drillview_motor" class="amChart block chart-view" data-id="motor"></div>
          <div class="label-bottom" id="dv_motor_stall_axis"></div>
        </div>
      </div>

      <div class="drill-view-port" id="dv_motor">

        <div class="menuContentBlock">

          <div class="offline-box" id="dv_motor_offline_box">
            <h5>System offline</h5>

            <ul class="abnormal-list">
              <li>
                <p class="inline-block">Specify correct configurations</p>
                <a href="#"
                   class="show-tray inline-block" data-tray="configurations"
                   style="cursor:hand; text-decoration: underline; padding: 0px; line-height: 10px; margin: 0px; margin-left: 15px;"
                   style="color: #ffffff;">More details</a>

              </li>
            </ul>
          </div>

          <div id="dv_motor_warning_box" class="mdv-warning-box">
          </div>

          <div class="block">
            <div class="mdv-cell">
              <div class="block clearfix">
                <p class="title" id="dv_motor_stall_label">Stall</p>

                <p class="value-white" id="dv_motor_stall"></p>
              </div>

              <div class="block clearfix">
                <p class="title" id="dv_motor_trip_label">Trip Necessary</p>

                <p class="value-white" id="dv_motor_trip">-</p>
              </div>
            </div>

            <div id='dv_motor_health' class="mdv-cell" style="position: relative;">
              <div style="position: absolute; text-align: center; margin-top: 35px; width: 100%; color: #ffffff; font-size: 14px;">Motor
                Wear
              </div>
              <div class="circles" id="dv_motor_circles" style="display: flex; display: -webkit-flex;"></div>
            </div>
          </div>

          <div class="divider" style="height: 40px;"></div>

          <div class="chart-legend-block" id="dv_motor_stall_chart_legend" style="display: none;">
            <div class="chart-legend">
              <div class="circle" style="background: #b858c9;">
              </div>
              <div class="legend-label">
                <p>Stall</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function ($) {

    DV_CURRENT_TAB = DV_TAB_MOTOR;
    $('.dv-subtitle').html("Motor");

    $(".remote-tray-toggle[data-tray='rig_overview_motor']").click(function () {
      DV_CURRENT_TAB = DV_TAB_MOTOR;
      $('.dv-subtitle').html("Motor");
      dv_ajax_call(null, null, null, true);
    });

    // Create chart
    DV_CHARTS['motor'] = AmCharts.makeChart("chart_drillview_motor", {
      "type": "serial",
      "theme": "none",
      "pathToImages": "https://www.amcharts.com/lib/3/images/",
      "backgroundColor": "#2a2e2e",
      "backgroundAlpha": 0,
      "rotate": true,
      "marginRight": 0,
      "marginTop": 0,
      "marginLeft": 0,
      "marginBottom": 0,
      "autoMargins": false,
      "dataProvider": [],
      "valueAxes": [
        {
          "axisAlpha": 0,
          "position": "bottom",
          "reversed": false,
          "gridAlpha": 0,
          "labelsEnabled": false,
          "id": "motor_axis",
          "autoGridCount": false,
        }
      ],
      "graphs": [
        {
          "lineColor": "#58c9c2",
          "lineThickness": 3,
          "type": "line",
          //"fillColorsField": "fillColor",
          //"fillAlphas": 1,
          "valueField": "microstall"
        },
        {
          "lineColor": "#b858c9",
          "lineThickness": 3,
          "type": "line",
          //"fillColorsField": "fillColor",
          //"fillAlphas": 1,
          "valueField": "stall"
        }
      ],
//      "chartCursor": {
//        "zoomable": false,
//        "enabled": true,
//        "selectWithoutZooming": true,
//        "valueLineEnabled": false,
//        "valueLineBalloonEnabled": false,
//        "valueBalloonsEnabled": false,
//        "categoryBalloonEnabled": false
//      },
      "categoryField": "time",
      "categoryAxis": {
        "gridPosition": "start",
        "startOnAxis": true,
        "labelsEnabled": false,
        "parseDates": false,
        "minorGridAlpha": 0.3,
        "tickLength": 0,
        "minorGridEnabled": true,
        "position": "left",
        "color": "#2a2e2e",
        "axisColor": "#fefefe",
        "axisAlpha": 1,
        "gridAlpha": 1,
        "gridColor": "#373b3b",
        "inside": true,
        "labelOffset": -3,
        "fontSize": 10
      },
      "panEventsEnabled": false
    });

    DV_MOTOR_CIRCLE = Circles.create({
      id: 'dv_motor_circles',
      radius: 70,
      value: 0,
      maxValue: 100,
      width: 15,
      text: function (value) {
        return value + '%';
      },
      duration: 0,
      wrpClass: 'circles-wrp',
      styleWrapper: true,
      styleText: true
    });

    dv_ajax_call(null, null, null, true);

  }(jQuery));
</script>