<a href="#" data-tray-controller="performance/rigs" data-tray="rigs_well_time" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray active">
    Well Time
  </button>
</a>

<a href="#" data-tray-controller="performance/rigs" data-tray="rigs_cost" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Cost
  </button>
</a>

<a href="#" data-tray-controller="performance/rigs" data-tray="rigs_warnings" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Warnings
  </button>
</a>

<a href="#" data-tray-controller="performance/rigs" data-tray="rigs_operations" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Operations
  </button>
</a>