<html>
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css.scss"/>
<body class="email-body">

<p>You have tried to access Corva from a network not within your company policy.</p>
<p>In order to continue, you must login with the specified code below to grant this network access.</p>
<br>
<p>Temporary access code: <span class="user-password"><%= @password %></span>
  <br>
<p><%= link_to "Login Now", "www.corva.ai", class: "activity-user-link" %></p>

<% if Rails.env.production? %>
    <hr>
    <div class="center"><%= image_tag "corva-logo.png" %></div>
    <br>
<% end %>

</body>
</html>