<% cache("trends/rigs/well_time/" + cache_key_for_rigs) do %>
  <div class='remote-tray' data-tray='rigs_well_time'>

    <div class="remote-loading hidden">
      <br><br>
      <%= render 'layouts/inline_loading', title: "Please wait, loading..." %>
    </div>

    <div class='tray-content content-loaded '>
      <div class="content-view">
        <div class="block" style="position: relative;">
          <div id="rigs_well_time_chart" class="amChart block" style="float: left; width: 100%; height: 520px;"></div>

          <%= render 'performance/tooltip_well_time' %>
        </div>

        <div class="block rigs-list"></div>
      </div>

      <%= render 'performance/no_content' %>
    </div>
  </div>

  <script type="text/javascript">
    <%= render 'performance/rigs/well_time/index.js' %>
  </script>
<% end %>