<a href="#" data-tray-controller="performance/wells" data-tray="wells_well_time" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Well Time
  </button>
</a>

<a href="#" data-tray-controller="performance/wells" data-tray="wells_cost" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Cost
  </button>
</a>

<a href="#" data-tray-controller="performance/wells" data-tray="wells_warnings" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Warnings
  </button>
</a>

<a href="#" data-tray-controller="performance/wells" data-tray="wells_operations" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-tray">
    Operations
  </button>
</a>