<html>
<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css.scss"/>
<body class="email-body">

<h1>Job Asset Not Received</h1>
<p class="center">Please check the job and asset to fix any problems</p>
<hr>
<b>Job asset was never returned to shop or asset was not properly received in Corva.</b>
<%= link_to @job.absolute_url, class: "activity-user-link" do %>View job<% end %> now
<br>

<hr>

<%= link_to @job.absolute_url, class: "job-email-link" do %>
    <%= render 'jobs/job_data_email', job: @job %>
<% end %>

<% if Rails.env.production? %>
    <hr>
    <div class="center"><%= image_tag "corva-logo.png" %></div>
    <br>
<% end %>

</body>
</html>