<a href="#" data-tray-controller="performance/custom_queries" data-tray="custom_queries_well_time" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-custom-queries-perf active">
    Well Time
  </button>
</a>

<a href="#" data-tray-controller="performance/custom_queries" data-tray="custom_queries_cost" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-custom-queries-perf  ">
    Cost
  </button>
</a>

<a href="#" data-tray-controller="performance/custom_queries" data-tray="custom_queries_warnings" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-custom-queries-perf  ">
    Warnings
  </button>
</a>

<a href="#" data-tray-controller="performance/custom_queries" data-tray="custom_queries_operations" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-custom-queries-perf  ">
    Operations
  </button>
</a>