<% provide(:title, 'Reset Password') %>

<% content_for :page_title do %>
  Reset Password
<% end %>

<div class="main-content">
  <div class="form reset-password">
    <%= form_for :session, action: :forgot, remote: true do |f| %>
      <div class="alert-box alert-info alert-mobile">
        <b>To reset your password, please enter you email below.</b>

        <p class="">We will then send you an email with instructions on how to complete the change.</p>
      </div>

      <div class="block" style="margin-top: 30px; margin-left: auto; margin-right: auto; width: 300px;">
        <%= f.text_field :email, placeholder: "Enter your email", value: params[:email],
                         class: "txtfield tooltip-info push-right-small",
                         style: "width: 284px; margin: 0;",
                         "data-placement" => "bottom",
                         "data-title" => "Email address of the Corva account" %>
      </div>

      <div class="block" style="margin-top: 15px; margin-left: auto; margin-right: auto; width: 300px;">
        <%= f.submit "Send Email", class: "btn btn-primary white-text tooltip-info form-loading-on-click",
                     style: "width: 100%; margin: 0;",
                     "data-placement" => "bottom",
                     "data-title" => "Send an email with a password reset" %>
      </div>
    <% end %>
  </div>

  <div id="email_sent" class="hidden" style="text-align: center; margin-top: 30px; font-size: 18px;">
    Password reset instructions have been sent to <b><span id="email"></span></b>
    <br><br>
    <!--<%= link_to "Login Now", "#", class: "btn btn-primary m-signin-button", style: "width: 300px;" %>-->
  </div>

  <hr>

  <div class="block" style="width: 300px;margin: 0 auto;">
    <script type="text/javascript" language="javascript">
      {
        coded = "aAbbYfx@iYfEv.vk"
        key = "WiKlrC5uSxHYjPpvgkqZf0OAdmTNw9bEUhF34L62z1BRQsJcVy8Me7DtGoXnIa"
        shift = coded.length
        link = ""
        for (i = 0; i < coded.length; i++) {
          if (key.indexOf(coded.charAt(i)) == -1) {
            ltr = coded.charAt(i)
            link += (ltr)
          }
          else {
            ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
            link += (key.charAt(ltr))
          }
        }
        document.write("<a class='btn btn-sub align-top' style='float: none;width: 100%;margin: 0;box-sizing: border-box;height: 41px !important;line-height: 41px !important;' href='mailto:" + link + '?subject=Help+Logging+In' + "'>Email Support</a>")
      }
    </script>
    <noscript></noscript>
  </div>
</div>