<div style="margin: 0px auto; position: relative; color: #C3C3C3; text-align: center; font-family: orgonboldregular;">
  loading...
</div>
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<!--<div class="loading">-->
<!--<div class="loading-circle loading-row1 loading-col3">-->
<!--</div>-->
<!--<% (2..4).each do |i| %>-->
  <!--<div class="loading-circle loading-row2 loading-col<%= i %>"></div>-->
  <!--<% end %>-->
<!--<% (1..5).each do |i| %>-->
  <!--<div class="loading-circle loading-row3 loading-col<%= i %>"></div>-->
  <!--<% end %>-->
<!--<% (2..4).each do |i| %>-->
  <!--<div class="loading-circle loading-row4 loading-col<%= i %>"></div>-->
  <!--<% end %>-->
<!--<div class="loading-circle loading-row5 loading-col3"></div>-->
<!--</div>-->