<div class="remote-tray" data-tray="warnings_list">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading warnings list..." %>
  </div>

  <div class='tray-content content-loaded'>

    <div class="section-header" style="margin-top: 15px;">
      <h1>Full List</h1>
    </div>

    <div class="block">
      <table class="warnings-list">
        <thead>
        <tr>
          <th>Time</th>
          <th>Depth</th>
          <th>Event</th>
          <th>Activity</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="metrics"><div class="warning"> </div><span>14:30</span> pm</td>
          <td class="metrics"><span>8,355</span> ft</td>
          <td class="event">Lost Circulation</td>
          <td class="activity">Drilling - Reaming</td>
          <td>
            <a href="#">Details</a>
          </td>
        </tr>
        <tr>
          <td class="metrics"><span>14:30</span> pm</td>
          <td class="metrics"><span>8,355</span> ft</td>
          <td class="event">Lost Circulation</td>
          <td class="activity">Drilling - Reaming</td>
          <td>
            <a href="#">Details</a>
          </td>
        </tr>
        <tr>
          <td class="metrics"><span>14:30</span> pm</td>
          <td class="metrics"><span>8,355</span> ft</td>
          <td class="event">Lost Circulation</td>
          <td class="activity">Drilling - Reaming</td>
          <td>
            <a href="#">Details</a>
          </td>
        </tr>
        <tr class="heading-date">
          <td colspan="5">Yesterday</td>
        </tr>
        <tr>
          <td class="metrics"><span>14:30</span> pm</td>
          <td class="metrics"><span>8,355</span> ft</td>
          <td class="event">Lost Circulation</td>
          <td class="activity">Drilling - Reaming</td>
          <td>
            <a href="#">Details</a>
          </td>
        </tr>
        <tr>
          <td class="metrics"><span>14:30</span> pm</td>
          <td class="metrics"><span>8,355</span> ft</td>
          <td class="event">Lost Circulation</td>
          <td class="activity">Drilling - Reaming</td>
          <td>
            <a href="#">Details</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>