<div class="remote-tray" data-tray="rig_overview_tandd">

<div class="remote-loading hidden">
  <br><br>
  <%= render 'layouts/inline_loading', title: "Please wait, loading rig Torque and Drag..." %>
</div>

<div class='tray-content content-loaded' style="position: relative;">
<div class="dv-spinner" id="dv_torque_spinner">

  <%= render 'jobs/inline_spinner' %>

</div>

<div class="dv-sub-container" style="display: none;">

<div class="drill-view-chart" style="width: 45%; min-height: 100px; position: relative;">
  <!--<div class="label-top torque-chart">-->
  <!--<a class="dv-torque-chart-tray active" data-id="broomstick" href="javascript: void(0);">Broomstick</a>-->
  <!--<a class="dv-torque-chart-tray" data-id="axial_load" href="javascript: void(0);">Axial Load</a>-->
  <!--<a class="dv-torque-chart-tray" data-id="stress" href="javascript: void(0);">Stress Plot</a>-->
  <!--<a class="dv-torque-chart-tray" data-id="surface_torque" href="javascript: void(0);">Surface Torque</a>-->
  <!--<a class="dv-torque-chart-tray" data-id="ff" href="javascript: void(0);">FF Plot</a>-->
  <!--</div>-->
  <div id="dv-torque-chart-label" class="label-top">
    Broomstick
  </div>
  <div class="torque-chart-plot" style="position: relative;">
    <div id="chart_drillview_torque" class="amChart block chart-view" style="background: none;"></div>
    <div id="cursor_dv_torque" class="dv-chart-cursor"></div>
  </div>
  <div class="label-bottom" id="dv_torque_hookload_axis" style="width: 100%;"></div>
</div>

<div class="drill-view-port" style="width: 55%; display: none;" id="dv_torque">

<div class="menuContentBlock">

<div class="section-header" style="margin-top: 15px;">
  <h1>Torque + Drag</h1>
</div>

<div class="offline-box" id="dv_torque_offline_box" style="display: none;">
  <h5>System offline</h5>

  <ul class="abnormal-list">
    <li>
      <p class="inline-block">Specify correct configurations</p>
      <a href="#"
         class="show-tray inline-block" data-tray="configurations"
         style="cursor:hand; text-decoration: underline; padding: 0px; line-height: 10px; margin: 0px; margin-left: 15px;"
         style="color: #ffffff;">More details</a>
    </li>
  </ul>
</div>

<div id="dv_torque_warning_box">
</div>

<div class="inline-block" style="vertical-align: top; float: left; position: relative; width: calc(100% - 150px); min-width: 360px; max-width: 100%;">
<div class="dropdown dropdown-no-border" style="display: inline-block; position: relative; margin-bottom: 20px; width: 100%;">
  <button class="btn" type="button" data-toggle="dropdown" aria-expanded="true" id="dv_torque_current_plot" data-id="broomstick"
          style="color: #ffffff;
              background-color: #7e7c7c;
              border: 1px solid #b5b6b6;
              width: 100%">
    <span class="plot_name">Broomstick</span>
    <span class="caret" style="border-top: 7px solid #ffffff;"></span>
  </button>
  <ul class="dropdown-menu" role="menu" id="dv_torque_plots_list" style="width: 100%; max-width: inherit; background-color: #7e7c7c;">
    <li role="presentation" class="active"><a href="javascript:void(0);" data-id="broomstick">Broomstick</a></li>
    <li role="presentation"><a href="javascript:void(0);" data-id="axial_load">Axial Load</a></li>
    <li role="presentation"><a href="javascript:void(0);" data-id="stress">Stress</a></li>
    <li role="presentation"><a href="javascript:void(0);" data-id="surface_torque">Torque</a></li>
    <li role="presentation"><a href="javascript:void(0);" data-id="ff">Friction Factor</a></li>
  </ul>
</div>

<table id="dv-torque-broomstick-plot" class="dv-torque-plot tbl-torque-hookload">
  <thead>
  <tr>
    <th></th>
    <th>HL(<%= unit('klbf', company_unit) %>)</th>
    <th>Predicted</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Actual</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #58c9c2;"></div>
    </td>
    <td id="dv_torque_slackoff_label" class="slackoff">Slackoff</td>
    <td id="dv_torque_slackoff_predict">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: dotted; border-width: 0px; border-left-width: 2px; border-color: #58c9c2; background-color: transparent;"></div></th>
    <th></th>
    <th></th>
    <td id="dv_torque_slackoff">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: solid; border-width: 0px; border-left-width: 2px; border-color: #58c9c2; background-color: transparent;"></div></th>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #da7d1a;"></div>
    </td>
    <td id="dv_torque_rotating_label" class="rotating">Rotating</td>
    <td id="dv_torque_rotating_predict">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: dotted; border-width: 0px; border-left-width: 2px; border-color: #da7d1a; background-color: transparent;"></div></th>
    <th></th>
    <th></th>
    <td id="dv_torque_rotating">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: solid; border-width: 0px; border-left-width: 2px; border-color: #da7d1a; background-color: transparent;"></div></th>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #b3ed37;"></div>
    </td>
    <td id="dv_torque_pickup_label" class="pickup">Pickup</td>
    <td id="dv_torque_pickup_predict">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: dotted; border-width: 0px; border-left-width: 2px; border-color: #b3ed37; background-color: transparent;"></div></th>
    <th></th>
    <th></th>
    <td id="dv_torque_pickup">-</td>
    <th><div class="inline-block" style="height: 15px; border-style: solid; border-width: 0px; border-left-width: 2px; border-color: #b3ed37; background-color: transparent;"></div></th>
  </tr>
  <!--<tr>-->
  <!--<td>&nbsp;</td>-->
  <!--</tr>-->
  <!--<tr style="margin-top:50px;">-->
  <!--<td>-->
  <!--<div class="circle circle-sm" style="background: #ffffff;"></div>-->
  <!--</td>-->
  <!--<td id="dv_toruqe_friction_label" colspan="2" class="friction">Friction Factor</td>-->
  <!--<td id="dv_torque_friction">-</td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td></td>-->
  <!--<td colspan="3" class="stat">-->
  <!--Last Calibrated: <span id="dv_torque_last_calibrated">-</span><br>-->
  <!--Last Value: <span id="dv_torque_last_value">-</span><br>-->
  <!--Mode: <span id="dv_toruqe_mode">-</span>-->
  <!--</td>-->
  <!--</tr>-->
  </tbody>
</table>

<table id="dv-torque-axial_load-plot" class="dv-torque-plot tbl-torque-hookload" style="display: none;">
  <tbody>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #b858c9;"></div>
    </td>
    <td id="dv_torque_axial_load_label" class="slackoff" style="color: #b858c9">Axial Load</td>
    <td id="dv_torque_axial_load">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #9aea6a;"></div>
    </td>
    <td id="dv_torque_sin_buckling_label" class="rotating" style="color: #9aea6a">Sin Buckling Force</td>
    <td id="dv_torque_sin_buckling">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #23c9ff;"></div>
    </td>
    <td id="dv_torque_hel_buckling_label" class="pickup" style="color: #23c9ff">Hel Buckling Force</td>
    <td id="dv_torque_hel_buckling">-</td>
  </tr>
  </tbody>
</table>

<table id="dv-torque-stress-plot" class="dv-torque-plot tbl-torque-hookload" style="display: none;">
  <tbody>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #f64363;"></div>
    </td>
    <td id="dv_torque_yield_stress_label" class="slackoff" style="color: #f64363">Yield Stress</td>
    <td id="dv_torque_yield_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #589dc9;"></div>
    </td>
    <td id="dv_torque_80_yield_stress_label" class="rotating" style="color: #589dc9">80% Yield Stress</td>
    <td id="dv_torque_80_yield_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #b858c9;"></div>
    </td>
    <td id="dv_torque_60_yield_stress_label" class="pickup" style="color: #b858c9">60% Yield Stress</td>
    <td id="dv_torque_60_yield_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #9babee;"></div>
    </td>
    <td id="dv_torque_von_mises_stress_label" class="pickup" style="color: #9babee">Von Mises Stress</td>
    <td id="dv_torque_von_mises_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #23fcff;"></div>
    </td>
    <td id="dv_torque_axial_stress_label" class="pickup" style="color: #23fcff">Axial Stress</td>
    <td id="dv_torque_axial_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #9aea6a;"></div>
    </td>
    <td id="dv_torque_twist_stress_label" class="pickup" style="color: #9aea6a">Twist Stress</td>
    <td id="dv_torque_twist_stress">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #9eddde;"></div>
    </td>
    <td id="dv_torque_bending_stress_label" class="pickup" style="color: #9eddde">Bending: Magnitude</td>
    <td id="dv_torque_bending_stress">-</td>
  </tr>
  </tbody>
</table>

<table id="dv-torque-surface_torque-plot" class="dv-torque-plot tbl-torque-hookload" style="display: none;">
  <tbody>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #9aea6a;"></div>
    </td>
    <td id="dv_torque_torque_label" class="slackoff" style="color: #9aea6a;">Torque</td>
    <td id="dv_torque_torque">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #b858c9;"></div>
    </td>
    <td id="dv_torque_torsional_yield_label" class="rotating" style="color: #b858c9">Torsional Yield</td>
    <td id="dv_torque_torsional_yield">-</td>
  </tr>
  </tbody>
</table>

<table id="dv-torque-ff-plot" class="dv-torque-plot tbl-torque-hookload" style="display: none;">
  <tbody>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #58c9c2;"></div>
    </td>
    <td id="dv_torque_ff_slackoff_label" class="slackoff">Slackoff</td>
    <td id="dv_torque_ff_slackoff">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #da7d1a;"></div>
    </td>
    <td id="dv_torque_ff_rotating_label" class="rotating">Rotating</td>
    <td id="dv_torque_ff_rotating">-</td>
  </tr>
  <tr>
    <td>
      <div class="circle circle-sm" style="background: #b3ed37;"></div>
    </td>
    <td id="dv_torque_ff_pickup_label" class="pickup">Pickup</td>
    <td id="dv_torque_ff_pickup">-</td>
  </tr>
  </tbody>
</table>

<!--
<div class="block">
  <p class="title" id="dv_torque_rotating_label">Rotating</p>

  <p class="value-white" style="font-size: 30px;" id="dv_torque_rotating"></p>
</div>

<div class="divider divider-lg"></div>

<div class="block">
  <p class="title" id="dv_torque_pickup_label">Pickup</p>

  <p class="value-white" style="font-size: 30px;" id="dv_torque_pickup"></p>
</div>

<div class="divider divider-lg"></div>

<div class="block">
  <p class="title" id="dv_torque_slackoff_label">Slackoff</p>

  <p class="value-white" style="font-size: 30px;" id="dv_torque_slackoff"></p>
</div>
-->

<div class="divider divider-md"></div>

</div>

<div class="inline-block" style="vertical-align: top; float: left; margin-left: 20px; margin-right: 15px; box-sizing: border-box; " id="dv_torque_casing_chart_container">
  <div class="inline-block" style="position: relative; text-align: right; width: 40px; margin-right: 0px; float: left;" id="dv_torque_casing_depth_container">
  </div>
  <div class="left_bar" style="display: inline-block; height: 100%; float: left; position: relative;">
    <div style="width: 15px; height: 50%; background: #747777;"></div>
    <div style="width: 5px; height: 50%; background:#747777; float: right;"></div>
  </div>
  <div class="warning-bar" style="display: inline-block; height: 100%; float: left; position: relative; overflow: hidden;">
    <div style="width: 7px; height: 100%; background-color: #6bd21e;"></div>
  </div>
  <div style="display: inline-block; margin: 0 12px; box-sizing: border-box; float: left; height: 100%; position: relative;">
    <div style="width: 27px; height: 100%; background: #ffffff; border-radius: 0 0 3px 3px;"></div>
    <div style="position: absolute; bottom: 0px; background-color: #85caee; border-radius: 0 0 3px 3px; width: 27px; height: 12px; margin-top: -12px;"></div>
  </div>
  <div class="warning-bar" style="display: inline-block; float: left; height: 100%; position: relative; overflow: hidden;">
    <div style="width: 7px; height: 100%; background-color: #6bd21e;"></div>
  </div>
  <div class="right_bar" style="display: inline-block; float: left; height: 100%; position: relative;">
    <div style="width: 15px; height: 50%; background: #747777;"></div>
    <div style="width: 5px; height: 50%; background:#747777;"></div>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="divider" style="height: 90px;"></div>

<!--
<div class="chart-legend-block" id="dv_torque_chart_legend" style="display: none;">
  <div class="chart-legend">
    <div class="circle" style="background: #ffffff;">
    </div>
    <div class="legend-label">
      <p>Torque</p>
    </div>
  </div>

  <div class="chart-legend">
    <div class="circle" style="background: #da7d1a;">
    </div>
    <div class="legend-label">
      <p>Rotating</p>
    </div>
  </div>

  <div class="chart-legend">
    <div class="circle" style="background: #58c9c2;">
    </div>
    <div class="legend-label">
      <p>Slack Off</p>
    </div>
  </div>

  <div class="chart-legend">
    <div class="circle" style="background: #b3ed37;">
    </div>
    <div class="legend-label">
      <p>Pick Up</p>
    </div>
  </div>
</div>
-->

</div>
</div>
</div>

</div>
</div>

<script type="text/javascript">
  (function ($) {

    DV_CURRENT_TAB = DV_TAB_TORQUE;
    DV_CURRENT_TORQUE_TAB = 'broomstick';
    $("#depth-row-wide").html("");

    $('#dv_torque_plots_list a').click(function () {
      DV_CURRENT_TORQUE_TAB = $(this).data('id');

      $('#dv_torque_current_plot .plot_name').html($(this).html());
      $('#dv_torque_current_plot').data('id', $(this).data('id'));

      $('#dv-torque-chart-label').html($(this).html());

      $('.dv-torque-plot').hide();
      $('#dv-torque-' + $(this).data('id') + '-plot').show()

      $('#dv_torque_plots_list li').removeClass('active');
      $(this).parent().addClass('active');

      draw_dv_torque();
    });

    function tune_dv_torque() {
      var innerHeight = $(window).innerHeight() - 186;
      var viewHeight = Math.max(innerHeight, DV_MENU_HEIGHT - 44);
      $('.drillview').css({ "height": viewHeight });
      $('#dv_torque').css({ "height": viewHeight });
      $('#vertical-slider').css({ "height": viewHeight - 20 });
      $('#depth-row-wide').css({ "height": viewHeight });
      $('.menuBlock').css({ "height": viewHeight + 44 });
      $('#chart_drillview_torque').css({ "height": viewHeight });
      $('#dv_warnings').css({ "height": viewHeight - 20 });
      $('#dv_torque_spinner').css({ "padding-top": viewHeight / 2 - 20 });
      $('#dv_torque_spinner').css({ "height": viewHeight });
      $('#dv_torque_casing_chart_container').css({ "height": viewHeight - 90 });
      $('#dv_torque_casing_depth_container').css({ "height": viewHeight - 90 });
      DV_CHARTS['torque'].validateNow();

      update_chart_cursor_point('dv_torque');

      $('#dv_torque_chart_legend').show();
    }

    $(".remote-tray-toggle[data-tray='rig_overview_tandd']").click(function () {
      DV_CURRENT_TAB = DV_TAB_TORQUE;
      $('.dv-spinner').show();
      $('.dv-sub-container').hide();

      $("#depth-row-wide").html("");
      $('#depth-row-wide').show();
      $('#depth-row').hide();
      $('#activity-row').hide();

      setTimeout(function () {
        tune_dv_torque();
        $('#dv_torque').perfectScrollbar('update');
        $slider = $('.slider');
        $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});
      }, 0);
    });

    // Tune view port height and etc..
    $(window).resize(tune_dv_torque);

    // Create chart
    DV_CHARTS['torque'] = AmCharts.makeChart("chart_drillview_torque", {
      "type": "xy",
      "theme": "none",
      "pathToImages": "https://www.amcharts.com/lib/3/images/",
      "backgroundAlpha": 1,
      "backgroundColor": "#2a2e2e",
      "marginRight": 0,
      "marginTop": 0,
      "marginLeft": 0,
      "marginBottom": 0,
      "autoMargins": false,
      "dataProvider": [],
      "fontFamily": "orgonlightregular",
      "valueAxes": [
        {
          "position": "bottom",
          "axisAlpha": 0,
          "dashLength": 1,
          "gridAlpha": 0,
          "id": "torque_axis"
        },
        {
          "axisAlpha": 0,
          "dashLength": 1,
          "position": "right",
          "reversed": true,
          "inside": false,
          "fontSize": 13,
          "color": "#ffffff",
          "gridColor": "#373b3b",
          "gridAlpha": 1,
          "autoWrap": true,
          "tickLength": 0,
          "showFirstLabel": false,
          "showLastLabel": false,
          "labelsEnabled": false,
          "id": "depth_axis"
        }
      ],
      "graphs": []
    });

    var myCursor;
    var chartCursor = new AmCharts.ChartCursor();

    function handleMove(event) {
      var yAxis = DV_CHARTS['torque'].getValueAxisById('depth_axis');
      var yValue = AmCharts.roundTo(yAxis.coordinateToValue(event.y - yAxis.axisY), 2);
      $('#cursor_dv_torque').css('top', event.y);
      if (myCursor != yValue) {
        update_dv_torque(yValue);

        var current_depth = parseFloat(yValue).non_negative().round_to_decimal().with_delimiter();
        $("#dv_current_depth").html(current_depth);

        myCursor = yValue;
      }
    }

    chartCursor.addListener("moved", handleMove);
    chartCursor.cursorAlpha = 0;
    chartCursor.zoomable = false;
    DV_CHARTS['torque'].addChartCursor(chartCursor);

    $('#chart_drillview_torque').on('mouseenter', function () {
      $('#cursor_dv_torque').show();
      update_dv_torque(myCursor);
    });
    $('#chart_drillview_torque').on('mouseleave', function (e) {
      var target = e.toElement || e.relatedTarget
      if (target.id != 'cursor_dv_torque') {
        $('#cursor_dv_torque').hide();
        update_dv_torque(-1);
      }
    });
    $('#cursor_dv_torque').on('mouseleave', function (e) {
      var target = e.toElement || e.relatedTarget
      if (target.nodeName != 'rect') {
        $('#cursor_dv_torque').hide();
        update_dv_torque(-1);
      }
    });

    tune_dv_torque();

    $('#dv_torque').perfectScrollbar();

    $('#dv_torque').show()

    $slider = $('.slider');
    $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});

  }(jQuery));
</script>