<div class="remote-tray" data-tray="rig_overview_losses">

  <div class='tray-content content-loaded' style="position: relative;">

    <div class="dv-spinner" id="dv_losses_spinner">

      <%= render 'jobs/inline_spinner' %>

    </div>

    <div class="dv-sub-container" style="display: none;">

      <div class="drill-view-chart" style="width: 35%; min-height: 100px; position: relative;">
        <div class="label-top">Flow</div>
        <div id="chart_drillview_losses" class="amChart block chart-view"></div>
        <div class="label-bottom" id="dv_losses_flow_axis"></div>
      </div>

      <div class="drill-view-port" style="width: 65%;" id="dv_losses">

        <div class="menuContentBlock">

          <div class="section-header" style="margin-top: 15px;">
            <h1>Gain/Loss</h1>
          </div>

          <div class="offline-box" id="dv_losses_offline_box" style="display: none;">
            <h5>System offline</h5>

            <ul class="abnormal-list">
              <li>
                <p class="inline-block">Specify correct configurations</p>
                <a href="#"
                   class="show-tray inline-block" data-tray="configurations"
                   style="cursor:hand; text-decoration: underline; padding: 0px; line-height: 10px; margin: 0px; margin-left: 15px;"
                   style="color: #ffffff;">More details</a>

              </li>
            </ul>
          </div>

          <div id="dv_losses_warning_box">
          </div>

          <div class="block">
            <p class="title" id="dv_losses_losses_label">Gain/Loss</p>

            <p class="value-white" style="font-size: 30px;" id="dv_losses_losses"></p>
          </div>

          <div class="divider divider-lg"></div>

          <div class="block">

            <div class="inline-block" style="width: 50%;">
              <p class="title" id="dv_losses_flowin_label">Flow In</p>

              <p class="value-white" style="font-size: 30px;" id="dv_losses_flowin"></p>
            </div>

            <div class="inline-block" style="width: 48%;">
              <p class="title" id="dv_losses_flowout_label">Flow Out</p>

              <p class="value-white" style="font-size: 30px;" id="dv_losses_flowout"></p>
            </div>
          </div>

          <div class="divider divider-lg"></div>

          <div class="block">
            <div class="inline-block" style="width: 50%;">
              <p class="title" id="dv_losses_mud_volume_label">Mud Volume</p>

              <p class="value-white" style="font-size: 30px;" id="dv_losses_mud_volume"></p>
            </div>

            <div class="inline-block" style="width: 48%;">
              <p class="title" id="dv_losses_pit_volume_label">Total Pit Volume</p>

              <p class="value-white" style="font-size: 30px;" id="dv_losses_pit_volume"></p>
            </div>
          </div>

          <div class="divider" style="height: 94px;"></div>

          <div class="chart-legend-block" id="dv_losses_chart_legend" style="display: none;">
            <div class="chart-legend">
              <div class="circle" style="background: #dac61a;">
              </div>
              <div class="legend-label">
                <p>Gain</p>
              </div>
            </div>

            <div class="chart-legend">
              <div class="circle" style="background: #d9421a;">
              </div>
              <div class="legend-label">
                <p>Loss</p>
              </div>
            </div>

            <div class="chart-legend">
              <div class="circle" style="background: #2466c5;">
              </div>
              <div class="legend-label">
                <p>Gain/Loss</p>
              </div>
            </div>

            <div class="chart-legend">
              <div class="circle" style="background: #ffffff;">
              </div>
              <div class="legend-label">
                <p>Mud Volume</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  (function ($) {
    DV_CURRENT_TAB = DV_TAB_LOSS;

    function tune_dv_losses() {

      var innerHeight = $(window).innerHeight() - 186;
      var viewHeight = Math.max(innerHeight, DV_MENU_HEIGHT - 44);
      $('.drillview').css({ "height": viewHeight });
      $('#dv_losses').css({ "height": viewHeight });
      $('#vertical-slider').css({ "height": viewHeight - 20 });
      $('#depth-row').css({ "height": viewHeight });
      $('#activity-row').css({ "height": viewHeight });
      $('.menuBlock').css({ "height": viewHeight + 44 });
      $('#chart_drillview_losses').css({ "height": viewHeight });
      $('#dv_warnings').css({ "height": viewHeight - 20 });
      $('#dv_losses_spinner').css({ "padding-top": viewHeight / 2 - 20 });
      $('#dv_losses_spinner').css({ "height": viewHeight });
      DV_CHARTS['losses'].validateNow();

      update_chart_cursor_point('dv_losses');

      $('#dv_losses_chart_legend').show();
    }

    $(".remote-tray-toggle[data-tray='rig_overview_losses']").click(function () {
      DV_CURRENT_TAB = DV_TAB_LOSS;

      $('.dv-spinner').show();
      $('.dv-sub-container').hide();

      $('#depth-row-wide').hide();
      $('#depth-row').html("");
      $('#depth-row').show();
      $('#activity-row').html("");
      $('#activity-row').show();

      setTimeout(function () {
        tune_dv_losses();
        $('#dv_losses').perfectScrollbar('update');
        $slider = $('.slider');
        $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});
      }, 0);
    });

    // Tune view port height and etc..
    $(window).resize(tune_dv_losses);

    // Create chart
    DV_CHARTS['losses'] = AmCharts.makeChart("chart_drillview_losses", {
      "type": "serial",
      "theme": "none",
      "pathToImages": "https://www.amcharts.com/lib/3/images/",
      "backgroundColor": "#2a2e2e",
      "backgroundAlpha": 0,
      "rotate": true,
      "marginRight": 0,
      "marginTop": 0,
      "marginLeft": 0,
      "marginBottom": 0,
      "autoMargins": false,
      "dataProvider": [],
      "valueAxes": [
        {
          "axisAlpha": 0,
          "position": "bottom",
          "reversed": false,
          "gridAlpha": 0,
          "labelsEnabled": false,
          "id": "losses_axis",
          "autoGridCount": false,
        }
      ],
      "graphs": [
        {
          "lineColor": "#58c9c2",
          "lineThickness": 6,
          "type": "line",
          "valueField": "flowin",
          "fillColorsField": "fillColor",
          "fillAlphas": 1,
          "lineAlphas": 1,
          "fillToGraph": "flowoutGraph"
        },
        {
          "id": "flowoutGraph",
          "lineColor": "#2466c5",
          "lineThickness": 3,
          "lineAlphas": 1,
          "type": "line",
          "valueField": "flowout"
        },
        {
          "id": "mudVolumeGraph",
          "lineColor": "#ffffff",
          "lineThickness": 3,
          "lineAlphas": 1,
          "type": "line",
          "valueField": "mud_volume"
        }
      ],
      "chartCursor": {
        "zoomable": false,
        "enabled": true,
        "selectWithoutZooming": true,
        "valueLineEnabled": false,
        "valueLineBalloonEnabled": false,
        "valueBalloonsEnabled": false,
        "categoryBalloonEnabled": false
      },
      "categoryField": "time",
      "categoryAxis": {
        "gridPosition": "start",
        "startOnAxis": true,
        "labelsEnabled": false,
        "parseDates": false,
        "minorGridAlpha": 0.3,
        "tickLength": 0,
        "minorGridEnabled": true,
        "position": "left",
        "color": "#2a2e2e",
        "axisColor": "#fefefe",
        "axisAlpha": 1,
        "gridAlpha": 1,
        "gridColor": "#373b3b",
        "inside": true,
        "labelOffset": -3,
        "fontSize": 10
      }
    });

    DV_CHARTS['losses'].addListener("changed", handleChanged);

    var myCursor;

    $('#chart_drillview_losses').click(function () {
      DV_CURSOR_POS = myCursor;
      update_chart_cursor('dv_losses');
    });

    $('#chart_drillview_losses').mouseleave(function () {
      update_dv_losses(DV_CURSOR_POS);
    });

    function handleChanged(event) {
      myCursor = event.index;
      update_dv_losses(event.index);
    }

    tune_dv_losses();

    $('#dv_losses').perfectScrollbar();

    $('#dv_losses').show();

    $slider = $('.slider');
    $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});
  }(jQuery));
</script>