<% provide(:title, 'Automatic Rig Activity Detection') %>


<div class="">

  <div class="section-header">
    <h1>Automatic Rig Activity Detection</h1>

  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva uses predictive models to automatically and accurately identify the rig states for the rig stream.
      Using the rig states, Corva can build real-time views for KPIs, time categorization, and accurate operation benchmarks for connection time and more.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Types of activity states recognized by Corva
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/activity_detection_states.PNG", style: "margin-top: 0px;" %>
    </div>
  </div>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
        Corva's activity detection is reliable and accurate. Providing activity states can paint a comprehensive picture of rig activity days, months, or years later. While rig notes only cover general swaths of time from a few hours up to 12 hours, automatic rig activity detection is accurate up to 1 second of time.
    </div>
  </div>


  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Rig activity display for 1 day
  </p>

  <div class="inline-block">
    <%= image_tag "content/activity_detection.PNG", style: "margin-top: 0px;" %>
  </div>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">

    </div>
  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>