<% provide(:title, 'Data Quality Enrichment') %>


<div class="">

  <div class="section-header">
    <h1>Data Quality Enrichment</h1>

  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Real-time systems depend on accurate data for correct applied engineering calculations. Corva boasts the leading automatic data enrichment solution available - relying on 4 separate types of enrichment, and combining to create data you trust.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Types of data quality control used by Corva
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/data_quality_enrichment.PNG", style: "margin-top: 0px;" %>
    </div>
  </div>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      In order to make accurate engineering calculations, the data must be exact.
      Companies have typically paid log analysts to manually correct data, which is not only cost-prohibitive,
      time consuming, non-realtime, but also it's not as accurate as statistical models because of limitations in human capabilities of
      combining thousands of data points in order to make decisions.

      <br><br>
        Corva uses state-of-the-art methods for correcting data coming from WITSML streams or historical uploads.
      We use range checking, moving averages, and imperical rules for guiding the principles that can effect sensor malfunctions and short term effects for low quality or degrading sensors.
    </div>
  </div>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      Corva is able to calibrate sensors using other well values (including compressive rock strength) and gain
      accurate understanding and error ratios of bad sensor readings. Corva can automatically correct sensor values in the data pipeline, giving accurate results for
      model processing and hardware controllers.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Why is this important
  </p>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      It has been estimated by companies and researchers that sensor values can be off by at least 20%, and most prevalent in torque sensors. Value differences with high degree of inaccuracy will lead to drastically wrong drilling calculations.
    </div>
  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>