<% provide(:title, 'Operation Benchmarks') %>


<div class="">

  <div class="section-header">
    <h1>Operation Benchmarks</h1>

  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Invisible lost time is defined as the time spent during drilling that is slowly lost by inefficiencies in process.
      By targeting specific operations like connections or treatment per stand you can improve crew performance and
      remove 1-5% or more of rig time. If your drilling operation is plagued by inconsistent operation times, it is an
      imperative tool
      to have operation benchmarks and histograms in order to track performance. Corva delivers a beautiful solution to
      this problem.
    </div>
  </div>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      Corva supports the tools you need to fight invisible lost time and reduce precious drilling time.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    An example rig display in Corva
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/operation_benchmarks.PNG", style: "margin-top: 0px;" %>
    </div>
  </div>


  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Compare rigs, wells, or drilling programs
  </p>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      Corva also provides the tools to make broad comparisons of operation times to understand differences in sections,
      crews and more.
    </div>
  </div>


  <div class="center" style="margin-top: 30px;">
    <div class="inline-block center">
      <%= image_tag "content/operation_benchmarks_comparison.PNG" %>
    </div>
  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>