<% provide(:title, 'Trends Dashboard') %>


<div class="">

  <div class="section-header">
    <h1>Trends Dashboard</h1>

  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      From a high level, Corva gives you the right information at the right time to make decisions. Drilling programs must learn constantly and improve in real-time. Corva provides a birds-eye view of rigs, wells, and drilling program and the tools you need to make proper comparisons.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Depth vs time compared to offset well
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/trends_graph.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>


  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Build custom queries
  </p>

  <div style="color: #c8e6d1; font-size: 20px; margin-top: 40px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      It's important to be able to find information quickly and make decisions at the speed of thought.
      Corva allows you to filter and graph results by search specific parameters like: well depth, well time, contractors, vendors, warnings, casing, and bit characteristics.
    </div>
  </div>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/trends_custom_query.png", style: "margin-top: 0px;" %>
    </div>
  </div>



  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>