<div id="warnings_depth_chart" class="amChart" style="width: 100%; background-color: #3d4f50; font-family: inherit; font-size: 15px; height: 100px;"></div>

<%= render 'performance/warning_chart_legend' %>