<% provide(:title, 'Real-Time Mobility') %>


<div class="">

  <div class="section-header">
    <h1><a href="/solutions">Solutions</a></h1>

    <h1> / Extensible Platform</h1>
  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva is an extensible platform built from the ground up to support third party components from customers, vendors, or students.
      Integrated directly into our workflow, we take care of the extremely difficult work of scale, performance, pipelines,
      data warehousing, and visualization framework - this frees developers to focus on the model.
    </div>
  </div>


  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Plug-in Architecture
  </p>

  <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/extensible/plugins.png", style: "margin-top: 10px;" %>
  </div>








  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>
