<% provide(:title, 'Real-Time Mobility') %>


<div class="">

  <div class="section-header">
    <h1><a href="/solutions">Solutions</a></h1><h1> / Real-Time Mobility</h1>
  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Field mobility and decision support is key to enabling a complete and seamless workflow. Corva is a custom experience tailored
      for mobile phones and tablets so you can continue working anywhere in the world.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    First-Class Mobile Experiences
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "solutions/mobility/mobile_overview.png", style: "margin-top: 10px;" %>
    </div>
    <div class="inline-block">
      <%= image_tag "solutions/mobility/mobile_tad.png", style: "margin-top: 10px; margin-left: 50px;" %>
    </div>
  </div>


  <div style="color: #c8e6d1; font-size: 24px; margin-top: 50px; margin-bottom: 80px; width: 100%;">





    <div style="text-align: center; margin-top: 30px;">
      Corva brings real-time decision support to where you go - no restrictions. With Corva, you are in control. Check the latest
      progress in your wells including responding to timely problem warnings.

    </div>


    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Tablet Trends
    </p>


    <div class="center" style="margin-top: 30px;">
        <%= image_tag "solutions/mobility/ipad_trends.png", style: "margin-top: 10px;" %>
    </div>
  </div>




  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>
