<% provide(:title, 'Real-Time Mobility') %>


<div class="">

  <div class="section-header">
    <h1><a href="/solutions">Solutions</a></h1><h1> / Predictive Analytics</h1>
  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Identifying trends and understanding changes is a key ability of businesses to drive faster decisions with
      greater accuracy. Corva delivers a host of predictive analytics for drilling optimization including activity detection,
      operation benchmarks, and time/cost/trend analysis.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Well Overview compared to Offset
  </p>

  <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/predictive_analytics/well_overview.png", style: "margin-top: 10px;" %>
  </div>


  <div style="color: #c8e6d1; font-size: 24px; margin-top: 50px; margin-bottom: 80px; width: 100%;">





    <div style="text-align: center; margin-top: 30px;">
      Corva brings accurate activity detection and operation histograms so your organization can combat Invisible Lost Time (ILT).
      No other solution brings together such an integrated and beautiful approach.

    </div>


    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Automatic Activity Detection
    </p>


    <div class="center" style="margin-top: 30px;">
        <%= image_tag "solutions/predictive_analytics/activity_detection.png", style: "margin-top: 10px;" %>
    </div>

    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Operation Histograms and Benchmarks
    </p>


    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/predictive_analytics/operation_histograms.png", style: "margin-top: 10px;" %>
    </div>



    <div style="text-align: center; margin-top: 70px; margin-bottom: 50px;">
      Corva is a versatile engine for predicting trends, problems, and inneficiences. No matter
      the style, format, or data slice, we have you covered. We are the leading platform
      for graphing and visualization in drilling optimization.

    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/predictive_analytics/graphs_plots.png", style: "margin-top: 10px;" %>
    </div>

  </div>






  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>
