<a href="#" data-tray-controller="performance/programs" data-tray="programs_well_time" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-programs-perf active">
    Well Time
  </button>
</a>

<a href="#" data-tray-controller="performance/programs" data-tray="programs_cost" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-programs-perf  ">
    Cost
  </button>
</a>

<a href="#" data-tray-controller="performance/programs" data-tray="programs_warnings" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-programs-perf  ">
    Warnings
  </button>
</a>

<a href="#" data-tray-controller="performance/programs" data-tray="programs_operations" class="remote-tray-toggle no-underline">
  <button type="button" class="btn-sub btn-group-sm btn-programs-perf  ">
    Operations
  </button>
</a>