$light-blue: #c8e6d1;
$dark-blue: #7c9b8f;
$blue: #58c9c2;
$dark-green: #2c3e3d;
$dark-green2: #3d4e50;
$dark-green3: #354849;
$green: #6fe065;
$yellow: #d8e476;
$white: #ffffff;
$gray: #839898;
$dark-gray: #2b3131;

$warning-low: #ffc618;
$warning-moderate: #fc8100;
$warning-high: #fe0000;
$warning-normal: #1ada63;

$main-font: orgonlightregular;
$main-font-bold: orgonboldregular;