#wells_list {
  .well-link {
    display: block;
    padding: 9px 15px;

    &:nth-child(odd) {
//      background: transparent;
    }

    &:nth-child(even) {
      background: #3C5050;
    }

    .well-name {
      font-family: orgonboldregular;
      font-size: 18px;
      color: #ffffff;
    }

    .rig-name, .drilling-program {
      font-size: 15px;
      color: #bfe9d0;
    }
    .well-time {
      font-size: 13px;
      color: #bfe9d0;
      font-weight: lighter;
    }

    &:hover {
      background-color: #58c9c2;
      text-decoration: none;
    }

  }
}

