<div style="margin: 150px auto 3px auto; position: relative; color: #ffffff; text-align: center; font-family: orgonboldregular;">
  <%= defined?(text) ? text.to_s : "loading..." %>
</div>
<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>